:root {
  --pale-blue: #dddbff;
  --grayish-blue: #848794;
  --dark-blue: #1d2c67;
  --very-dark-blue: #0c112c;
  --white: #ffffff;

  --raleway: 'Raleway', sans-serif;
}
body {
  height: 100vh;
  background: url(../img/bg-desktop.png) var(--very-dark-blue) no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
footer {
  position: absolute;
  bottom: 0;
}
