@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
  --pale-blue: #dddbff;
  --grayish-blue: #848794;
  --dark-blue: #1d2c67;
  --very-dark-blue: #0c112c;
  --blue-bar: #151d4a;
  --white: #ffffff;
  --black: #000000;

  --raleway: 'Raleway', sans-serif;
}
body {
  height: 100vh;
  background: url(../img/bg-desktop.png) var(--very-dark-blue) no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-family: var(--raleway);
}
