.container__files {
  width: 65%;
  height: 25%;
  background-color: var(--dark-blue);
  /* margin: 13rem auto 0; */
  border-radius: 10px 100px 10px 10px;
}
.container__files img {
  width: 14.8rem;
  height: 4.5rem;
  /* margin: 4.1rem 0 0 5rem; */
}
.container__files-links {
  display: flex;
}
