.container {
  height: 95%;
  width: 100%;
  background: url(../img/bg-mobile.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
