.upload {
  height: 10.6rem;
  background-color: var(--dark-blue);
  border-radius: 10px;
  padding: 40px;
  color: var(--white);
  font-weight: 300;
  margin-top: 50px;
}
.upload h1 {
  font-weight: 300;
}